.container {
  padding: 20px 0;
  border-bottom: 2px solid rgb(78, 77, 77);
  display: flex;
  column-gap: 10px;
}

.boix-inform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
